# Miscellaneous
.DS_Store

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/*
# Keep the project icon.
!/.idea/icon.svg
# Keep the run configurations.
!/.idea/runConfigurations/flutter_run_app_dev.xml
!/.idea/runConfigurations/flutter_run_app_stg.xml
!/.idea/runConfigurations/flutter_run_app_prod.xml
!/.idea/runConfigurations/flutter_run_catalog.xml

# Editor User Setting Files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.code-workspace
!default.code-workspace
.classpath
.project

# Files and directories created by pub
.dart_tool/

# melos
pubspec_overrides.yaml

# mason
.mason
# https://github.com/felangel/mason/issues/947
mason-lock.json

# Coverage
coverage/

# Firebase
.firebase
