<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeAdLVjn4x4JOQ2U3-T3e1bh6swTQaKHE</string>
	<key>GCM_SENDER_ID</key>
	<string>651997738463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>quest.asis.app.dev</string>
	<key>PROJECT_ID</key>
	<string>asis-quest-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>asis-quest-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651997738463:ios:02f8dd3c1ea62bb2b2c06a</string>
</dict>
</plist>